ul#menu {
    list-style-type: none;
    margin: -10px 20px px -10px;
    padding: 0px;
    overflow: hidden;
    background-color: #cccccc;
}
 ul#menu li {
    float: left;
}
ul#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
